.mainContainer {
  display: flex;
  flex-direction: column;
}

.width_half {
  width: 50%;
}

.image {
  height: 100vh;
}

.project_content {
  display: flex;
  flex-direction: row;
  height: auto;
}

.text {
  position: relative;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50vw;
  padding: 2%;
}

#linebreak {
  word-wrap: break-word;
  max-width: 50vw;
}
