@import "../../../../styles.scss";
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--primary) !important;
}

.percent {
  text-align: center;
  color: var(--textColor);
}

.center {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: xx-large;
  color: var(--secondary) !important;
}
