@import "../../../../styles.scss";
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--primary) !important;
}

.spinnerCard {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.percent {
  text-align: center;
}

.contentCard {
  margin: 5%;
  padding: 0.5%;
}
