.main {
  top: 50px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
  a {
    width: 100%;
    background-color: var(--primary);
    margin: 2px 0 2px 0;
  }
}

#home {
  background-color: white;
}

#baby {
  background-color: #cf0279;
}
