<mat-card class="blogEntry raisedCardColor standardTextColor">
  <mat-card-header class="">
    <mat-card-title>{{ blogPost.body.title }}</mat-card-title>
    <mat-card-subtitle class="standardTextColor">
      {{ blogPost.date }}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="blogPost.picture" alt="" />
  <mat-card-content>
    <div class="text">
      <p class="mat-body" *ngFor="let text of this.blogPost.body.text">
        {{ text }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer class="footer">
    <div class="left"></div>
    <div class="right">
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of blogPost.body.tags">
          {{ tag }}
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </mat-card-footer>
</mat-card>
