@import "../../../../styles.scss";
.footer {
  margin-bottom: 2px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  width: 50%;
}

.image {
  width: 50%;
  object-fit: cover;
  height: inherit;
}

.blogEntry {
  width: inherit;
  height: inherit;
  margin: 1%;
}
