@import "../../../styles.scss";

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "core-features banner banner"
    "core-features summary summary"
    "core-features additional-features progress";
  justify-items: stretch;
  align-items: stretch;
}

.core-features {
  grid-area: core-features;
}
.banner {
  grid-area: banner;
}
.summary {
  grid-area: summary;
}
.additional-features {
  grid-area: additional-features;
}
.progress {
  grid-area: progress;
}

.textbox {
  height: fit-content;
  width: fit-content;
  //display: block;
}

.commandline {
  margin-bottom: 1%;
  scale: calc(100% * 0.9);
}

.wheel {
  width: 10vw;
}

.image {
  height: 30vh;
  width: 100%;
  display: block;
}
