<div class="main">
  <div class="left">
    <app-commandline class="commandline" routerLink="/LSM" linkName="LSM">
      <p class="line command">show progress.pi</p>
      <app-textbox class="textbox"
        ><app-progress-wheel
          class="wheel"
          [project]="project"
        ></app-progress-wheel
      ></app-textbox>
    </app-commandline>
  </div>
  <div class="right">
    <app-commandline class="commandline" routerLink="/LSM" linkName="LSM">
      <p class="line command">show LSM_CODE.png</p>
      <app-image class="image" [project]="project"></app-image>
    </app-commandline>
  </div>
</div>
