<div class="mainContainer">
  <div>
    <img
      class="banner"
      src="../../../assets/pictures/projects/ProjectPage/LSM_Picture.png"
      alt=""
    />
  </div>
  <mat-divider horizontal class="dividerHorizontal"></mat-divider>
  <div class="textContent">
    <mat-card class="headerCard standardCardColor standardTextColor">
      <mat-card-header>
        <mat-card-title style="font-size: xx-large">
          Localstorage manager
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body">
          This Software adds an abstraction layer between the programm and the
          localstorage. This helps with managing the creation, manipulation and
          deletion of localstorage tokens. It simpulates a partitioning of the
          localstorage by using localstorage token objects as the values. If you
          want to use it you will have to use the register command to
          instantiate and register the component, then it will create a
          localstorage token where the key is the component name you registered.
          This will be referred to as a localstorage namespace in this document.
        </p>
        <p class="mat-body">
          Structure Localstorage Token Key: &#60;registered name&#62;, Value:
          [&#123;key: &#60;name of token&#62;, value:&#60;value of
          token&#62;&#125;,...]
        </p>
        <p class="mat-body">
          The usage from a outside perspective is the exact same as if you would
          use the regular localstorage, with a couple of extra features.
        </p>
      </mat-card-content>
      <mat-card-footer class="footer">
        <div class="left"></div>
        <div class="right">
          <mat-chip-listbox>
            <mat-chip> Software </mat-chip>
            <mat-chip> Frontend </mat-chip>
            <mat-chip> Angular </mat-chip>
          </mat-chip-listbox>
        </div>
      </mat-card-footer>
    </mat-card>
    <mat-divider horizontal class="dividerHorizontal"></mat-divider>
    <mat-card class="contentCard standardCardColor standardTextColor">
      <mat-card-header>
        <mat-card-title> Core Features </mat-card-title>
      </mat-card-header>
      <mat-card-content class="tableContent">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Feature">
            <th mat-header-cell *matHeaderCellDef>Feature</th>
            <td mat-cell *matCellDef="let element">{{ element.Feature }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Syntax">
            <th mat-header-cell *matHeaderCellDef>Syntax</th>
            <td mat-cell *matCellDef="let element">{{ element.Syntax }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Explanation">
            <th mat-header-cell *matHeaderCellDef>Explanation</th>
            <td mat-cell *matCellDef="let element">
              {{ element.Explanation }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <mat-divider horizontal class="dividerHorizontal"></mat-divider>
    <div class="bottom">
      <mat-card class="contentCard standardCardColor standardTextColor">
        <mat-card-header>
          <mat-card-title>Progress</mat-card-title>
        </mat-card-header>
        <mat-card-content class="spinnerCard">
          <div class="center">
            <mat-progress-spinner
              class="example-margin"
              mode="determinate"
              value="100"
            >
            </mat-progress-spinner>
            <h3 class="percent">100%</h3>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="contentCard standardCardColor standardTextColor">
        <mat-card-header>
          <mat-card-title> Additional Features </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle class="standardTextColor"
                >Localstorage-cleanup.service</span
              >
              <span class="standardTextColor"
                >This service can be run at any time if you are using the
                localstorage manager. It will detect and remove any localstorage
                token that is not registered with a componentID.</span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle class="standardTextColor"
                >self repairing localstorage</span
              >
              <span class="standardTextColor"
                >The localstorage Manager will make sure, that the tokens held
                in the localstorage are valid. If a token cannot be parsed to a
                valid object, the token will be deleted. This should prevent any
                corruption of the localstorage tokens.</span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle class="standardTextColor">
                no more JSON parsing
              </span>
              <span class="standardTextColor">
                With the localstorage manager you don't have to worry about
                error handling with JSON.parse or JSON.stringify. Any error
                should be handled within the manager. It is also not necessary
                to parse any in or output, by using the localstorageToken
                object.
              </span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
