<div class="mainContainer">
  <div>
    <app-banner [project]="project"></app-banner>
  </div>
  <mat-divider horizontal class="dividerHorizontal"></mat-divider>
  <div class="centerContent">
    <div></div>
    <div class="textContent">
      <app-project-summary [project]="project"></app-project-summary>

      <div class="bottom">
        <app-table [project]="project"></app-table>
        <app-progress-wheel
          [project]="project"
          *ngIf="hidden()"
        ></app-progress-wheel>
        <div class="mobileLayout">
          <app-progress-wheel
            [project]="project"
            *ngIf="!hidden()"
          ></app-progress-wheel>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
