<mat-card class="headerCard standardCardColor standardTextColor">
  <mat-card-header>
    <mat-card-title class="title">
      {{ this.getTexts().summary.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-body" *ngFor="let text of this.getTexts().summary.text">
      {{ text }}
    </p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <div class="left">
      <a
        mat-chip
        [href]="projectPage.gitLink"
        target="_blank"
        class="gitChip"
        *ngIf="projectPage.gitLink != ''"
      >
        <div class="gitLink">
          <mat-icon>link</mat-icon>
          <div>Git Link</div>
        </div>
      </a>
    </div>
    <div class="right">
      <mat-chip-listbox>
        <mat-chip
          *ngFor="let tag of projectPage.summary.tags"
          (click)="this.searchService.tagSearch(tag)"
        >
          {{ tag }}
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </mat-card-footer>
</mat-card>
