.additionImage {
  width: 75vw;
  height: 75vw;
  object-fit: cover;
  margin-top: 5%;
  margin-bottom: 5%;
  border-color: var(--primary);
  border-width: 5px;
  border-style: solid;
  box-shadow: inset;
  border-radius: 30px;
}
