.border {
  border: 3px dashed white;
  width: inherit;
  height: inherit;
}

.box {
  //position: relative;
  width: 15px;
  height: 15px;
  background: white;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  rotate: 45deg;
}

.topleft {
  top: -10px;
  left: -10px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -10px;
  left: -10px;
  width: calc(100% + 20px);
}

.corners {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
