.searchHints {
  background-color: var(--cardBackground);
  margin-bottom: 5px;
  width: 20vw;
}

.main {
  overflow: scroll;
  max-height: calc(100vh - 50px);
}

.subtitle {
  color: var(--textColor);
}
