<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-toolbar class="center">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home">home</a>
      <h3 mat-list-item class="mat-h2">Projects</h3>
      <a mat-list-item href="/LSM">LSM</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="bar">
      <mat-toolbar color="primary">
        <div class="buttons">
          <div class="left">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
            >
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span><h1>portfolio</h1></span>
          </div>
          <div class="right"></div>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <mat-progress-bar
        mode="determinate"
        [value]="this.scrollService.barPosition"
        class="progessBar"
      ></mat-progress-bar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
