.sidenav-container {
  height: 100%;
  top: 0;
  z-index: 1000;
  font-family: "MyFont";
}

.sidenav {
  width: 30vw;
  background-color: whitesmoke;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  top: 0;
  height: 5vh;
  z-index: 1000;
  position: fixed;
  backdrop-filter: blur(1px);
  background-color: rgba(88, 88, 88, 0.466);
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: inherit;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 60px !important;
  height: 60px !important;
  border-radius: 35px;
  object-fit: cover !important;
}

.mennuItems {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.picture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2vh !important;
}

.progessBar {
  position: fixed;
  z-index: 1000;
  top: 5vh;
}
