.mat-mdc-table {
  background: var(--cardBackground);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.tableContent {
  margin-top: 1%;
}

.mdc-data-table__header-cell {
  color: var(--primary);
  border-bottom-color: white;
}

.mdc-data-table__cell {
  border-bottom-color: white;
  color: var(--textColor);
}
