.row {
  height: 50px;
  z-index: 100;
  backdrop-filter: blur(3px) !important;
  background-color: var(--headerBackgournd) !important;
  color: white;
}

.toolbar {
  min-height: 50px !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 100vw;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 25px !important;
  cursor: pointer;
}

.progessBar {
  z-index: 100;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: var(--primary);
  --mdc-linear-progress-track-color: var(--progressBar);
}

.bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100vw;
}

.clear {
  background-color: var(--transparent);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.languageSwitcher {
  margin-right: 10px;
  padding: 0%;
}

.languageIcon {
  transform: scale(1.5);
  color: white;
}
