.mainFlexContainer {
  height: 100vh;
  top: 5vh;
}

.slideContainer {
  display: grid;
  height: inherit;
  top: inherit;
}
.center-fit {
  width: 100%;
  height: inherit;
  margin: auto;
  position: relative;
}

.swipes {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.swipeButton {
  width: 10%;
  position: relative;
  z-index: 1;
  height: inherit;
  display: flex;
  align-content: center;
  .icon {
    transform: scaleY(5) scaleX(5);
    color: white;
  }
}

.dots {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dot {
  transform: scale(0.5);
}

.textBlock {
  z-index: 1;
  position: absolute;
  left: 10%;
  top: 50vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 100px !important;
  color: white;
}

h2 {
  font-size: 30px !important;
  color: white;
}

a {
  color: white;
}
