.slideContainer {
    display: grid;
}
.center-fit {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
}

.swipes{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    top:64px;
}

.swipeButton{
    width: 10%;
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-content: center;
    .icon{
        transform: scaleY(5) scaleX(5);
        color: white;
    }
}