<div class="mainFlexContainer">
  <div class="slideContainer">
    <div class="swipes">
      <button mat-button class="swipeButton" (click)="this.navigated(false)">
        <mat-icon class="icon">keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button class="swipeButton" (click)="this.navigated(true)">
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="textBlock">
      <div class="header">
        <h1>
          {{ this.currSlide.title }}
        </h1>
        <a [href]="this.currSlide.link"><mat-icon>launch</mat-icon></a>
      </div>
      <div class="text">
        <h2>{{ this.currSlide.text }}</h2>
      </div>
    </div>

    <img class="center-fit" id="0" mat-card-image [src]="this.currImgURL" />
    <div class="footer">
      <div class="spacer"></div>
      <div class="slideIndicator">
        <div class="dot" *ngFor="let item of dots; let i = index">
          <button mat-fab color="accent" [disabled]="dots[i]"></button>
        </div>
      </div>
      <div class="progressSpinner"></div>
    </div>
  </div>
</div>
