.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--transparent);
  backdrop-filter: blur(3px);
  z-index: 200;
}

.row {
  height: 100vh;
  width: 33vw;
  background-color: var(--transparent);
}

.center {
  background-color: black;
}
