<app-search-window class="search hidden" id="searchWindow"></app-search-window>
<app-slidepanel></app-slidepanel>
<div class="intro"></div>
<div class="main">
  <div class="div1 imageWrapper">
    <img
      src="../assets/pictures/projects/ProjectPage/RPI.JPG"
      class="image rotateAnimation"
    />
  </div>
  <div class="div2"></div>
  <div class="div3"></div>
  <div class="div4 imageWrapper">
    <img
      src="../assets/pictures/projects/ProjectPage/RPI.JPG"
      class="image rotateAnimation"
    />
  </div>
  <div class="div5 imageWrapper">
    <img
      src="../assets/pictures/projects/ProjectPage/RPI.JPG"
      class="image rotateAnimation"
    />
  </div>
  <div class="div6"></div>
  <div class="div7"></div>
  <div class="div8 imageWrapper">
    <img
      src="../assets/pictures/projects/ProjectPage/RPI.JPG"
      class="image rotateAnimation"
    />
  </div>
  <div class="div9 imageWrapper">
    <img
      src="../assets/pictures/projects/ProjectPage/RPI.JPG"
      class="image rotateAnimation"
    />
  </div>
  <div class="div10"></div>
</div>
<app-footer></app-footer>
