@import url(../styles.scss);
.button {
  z-index: 100;
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  background: rgba(88, 88, 88, 0.466);
  backdrop-filter: blur(1px);
  color: var(--textColor);
}

.mat-drawer-container {
  background-color: var(--backgroundColor);
  color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-drawer-content {
  overflow: hidden !important;
}

.drawer {
  width: 20vw;
  min-width: 200px;
  background-color: var(--cardBackground);
  position: fixed;
}

.links {
  width: 100%;
}

.search {
  z-index: 200;
  position: absolute;
}
