.navigation {
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.button {
  z-index: 9999;
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  background: rgba(88, 88, 88, 0.466);
  backdrop-filter: blur(1px);
  color: white;
}

router-outlet {
  position: absolute;
}
