@import "../../../styles.scss";

.mainContainer {
  position: relative;
}

.textContentAlter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 100vw;
}
