<div class="mainContainer">
  <app-banner [project]="project"></app-banner>
  <app-divider></app-divider>
  <div class="textContent">
    <div class="textContentAlter">
      <div class="textContent">
        <app-project-summary [project]="project"></app-project-summary>
        <app-progress-wheel
          [project]="project"
          *ngIf="!this.hidden()"
        ></app-progress-wheel>
      </div>
      <app-progress-wheel
        [project]="project"
        *ngIf="this.hidden()"
      ></app-progress-wheel>
    </div>
    <app-divider></app-divider>
    <app-image [project]="project"></app-image>
  </div>
</div>
