<mat-toolbar class="row">
  <div class="flexContainer">
    <a class="darkText" href="Impressum">Impressum</a>
    <div class="listIcons" *ngIf="this.screenSize.showPanel()">
      <a
        class="logo"
        style="cursor: pointer"
        cdkCopyToClipboard="contact@hannesschniz.de"
        (click)="openSnackbar()"
      >
        <img src="../../../../assets/Symbols/icons8-email-50(1).png" />
      </a>
      <a class="logo" href="https://www.github.com/TheXample" target="_blank">
        <img src="../../../../assets/Symbols/icons8-github-50(2).png" />
      </a>
      <a
        class="logo"
        href="https://www.linkedin.com/in/hannes-schniz-a61269280/"
        target="_blank"
      >
        <img src="../../../../assets/Symbols/icons8-linkedin-50(2).png" />
      </a>
    </div>
  </div>
</mat-toolbar>
