@import "../../../styles.scss";
.mainCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.entry {
  width: 50vw;
  break-inside: avoid-column;
  float: left;
  min-width: 400px;
}

.grid {
  width: 100vw;
}

.title {
  margin-top: 10vh;
  width: 60vw;
  height: fit-content;
}

.cssCol {
  -moz-column-count: 2;
  column-count: 2;
}
