<div class="flexHome">
  <app-commandline class="commandline">
    <p class="line">ls -all</p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/">./</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/AboutMe">aboutMe.pdf</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/LSM">LSM.ts</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/Nextcloud">Nextcloud.conf</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/RPI_Clock">RPI_Clock.conf</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/ScriptRunner">ScriptRunner.py</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/Impressum">Impressum.txt</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/Runa">Runa.java</a>
    </p>
    <p class="line">
      ---------- 1 hannes hannes 1024 Jan 04 23:23
      <a class="link" routerLink="/Hangman">Hangman.java</a>
    </p>
  </app-commandline>
</div>
