<div class="mainContainer">
  <div>
    <img class="banner" [src]="this.projectPage.picture" alt="" />
  </div>
  <mat-divider horizontal class="dividerHorizontal"></mat-divider>
  <div class="textContent">
    <mat-card class="headerCard standardCardColor standardTextColor">
      <mat-card-header>
        <mat-card-title style="font-size: xx-large">
          {{ this.projectPage.summary.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="mat-body" *ngFor="let text of this.projectPage.summary.text">
          {{ text }}
        </p>
      </mat-card-content>
      <mat-card-footer class="footer">
        <div class="left"></div>
        <div class="right">
          <mat-chip-listbox>
            <mat-chip *ngFor="let tag of projectPage.summary.tags">
              {{ tag }}
            </mat-chip>
          </mat-chip-listbox>
        </div>
      </mat-card-footer>
    </mat-card>
    <mat-divider horizontal class="dividerHorizontal"></mat-divider>
    <mat-card class="contentCard standardCardColor standardTextColor">
      <mat-card-header>
        <mat-card-title> Core Features </mat-card-title>
      </mat-card-header>
      <mat-card-content class="tableContent">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container
            *ngFor="let header of displayedColumns"
            [matColumnDef]="header"
          >
            <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
            <td mat-cell *matCellDef="let element">
              {{ getCell(element, header) }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <mat-divider horizontal class="dividerHorizontal"></mat-divider>
    <div class="bottom">
      <mat-card class="spinnerCard standardCardColor standardTextColor">
        <mat-card-header>
          <mat-card-title>Progress</mat-card-title>
        </mat-card-header>
        <mat-card-content class="spinnerCardContent">
          <div class="center">
            <mat-progress-spinner
              class="example-margin"
              mode="determinate"
              [value]="this.projectPage.progress"
            >
            </mat-progress-spinner>
            <h3 class="percent">{{ this.projectPage.progress }}%</h3>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="contentCardSpinner standardCardColor standardTextColor">
        <mat-card-header>
          <mat-card-title> Additional Features </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item
              *ngFor="let item of this.projectPage.additionalFeatures"
            >
              <span matListItemTitle class="standardTextColor">{{
                item.title
              }}</span>
              <span class="standardTextColor">{{ item.text }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
