<div class="mainContainer">
  <mat-card class="contentCard raisedCardColor standardTextColor">
    <mat-card-header>
      <mat-card-title>Contact form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="contactForm" [formGroup]="contactForm">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Your name / name of your company"
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <textarea
            matInput
            placeholder="Please include a way for me to contact you"
            formControlName="message"
          ></textarea>
        </mat-form-field>
        <button mat-stroked-button type="submit" (click)="onSubmit()">
          Send
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
