<div class="main">
  <div class="left">
    <div class="border">
      <div class="corners">
        <div class="top">
          <div class="box topleft"></div>
          <div class="box topright"></div>
        </div>

        <div class="bottom">
          <div class="box bottomleft"></div>
          <div class="box bottomright"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="border">
      <div class="corners">
        <div class="top">
          <div class="box topleft"></div>
          <div class="box topright"></div>
        </div>
        <div class="bottom">
          <div class="box bottomleft"></div>
          <div class="box bottomright"></div>
        </div>
      </div>
      <img
        class="image"
        src="../../../assets/pictures/personal/Hannes_Schniz.jpg"
        alt="About Me"
      />
    </div>
  </div>
</div>
