<div class="main">
  <div class="left">
    <app-commandline
      class="commandline"
      routerLink="/AboutMe"
      linkName="AboutMe"
    >
      <p class="line command">show Hannes_Schniz.png</p>
      <app-textbox class="textbox"></app-textbox>
    </app-commandline>
  </div>
  <div class="right">
    <app-commandline
      class="commandline"
      routerLink="/AboutMe"
      linkName="AboutMe"
    >
      <p class="line command">cat Hannes_Schniz_introduction.txt</p>
      <p class="line">
        {{ importService.getPersonal().texts[0] }}
      </p>
      <p class="line">
        {{ importService.getPersonal().texts[1] }}
      </p>
    </app-commandline>
    <app-commandline
      class="commandline"
      routerLink="/AboutMe"
      linkName="AboutMe"
    >
      <p class="line command">cat Hannes_Schniz_skills.txt</p>
      <p class="line elevated">- OOP</p>
      <p class="line elevated">- Java</p>
      <p class="line elevated">- Javascript</p>
      <p class="line elevated">- Python</p>
      <p class="line elevated">- C#</p>
      <p class="line elevated">- C</p>
      <p class="line elevated">- SQL</p>
      <p class="line elevated">- Linux Distros</p>
      <p class="line elevated">- Microcontroller</p>
    </app-commandline>
  </div>
</div>
