@import "../../../styles.scss";

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.textbox {
  height: 60vh;
  width: 100%;
  display: block;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding-top: 10%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding-top: 10%;
}

.commandline {
  margin-bottom: 1%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
