<div class="personal_container">
  <div class="leftSide">
    <img
      class="personalPicture"
      src="../../../../assets/pictures/personal/Hannes_Schniz.jpg"
    />
  </div>

  <mat-card class="introText standardTextColor">
    <mat-card-header
      ><mat-card-title class="introductionHeader"
        >Hi!</mat-card-title
      ></mat-card-header
    >
    <mat-card-content>
      <p class="mat-body">
        My name is Hannes. My whole life I've been engaged in IT. When I was 10
        years old my dad showed me my first programming language, Visual Basic.
        Since then i was hooked.
      </p>
      <p class="mat-body">
        I'm 22 years old today and my passion for IT has only grown over the
        years. Over the years I have worked on many projects, infact this
        Website was one of them. You can find my projects by clicking the three
        bars at the top or the links on the slideshow above.
      </p>

      <p class="mat-body">
        During my time in school, university and in companies I learned a lot of
        skills in various parts of the IT field. Here a little list of some of
        them:
      </p>

      <div class="lists">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor"
              >Object Orientated Programming</span
            >
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor">Java</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor"> Javascript </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor"> Python </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor"> C# </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor"> C </span>
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor">SQL</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor">
              Linux Distros
            </span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="standardTextColor">
              Microcontroller
            </span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="listIcons">
        <a href="https://www.github.com/TheXample" target="_blank">
          <img src="../../../../assets/Symbols/icons8-github-50.png" />
        </a>
        <a
          href="https://www.linkedin.com/in/hannes-schniz-a61269280/"
          target="_blank"
        >
          <img src="../../../../assets/Symbols/icons8-linkedin-50.png" />
        </a>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
